node_modules
.env
coverage
coverage.json
typechain
typechain-types
dist

# Hardhat files
cache
artifacts

# Logs and PIDs
logs
.pids

# MacOS
.DS_Store
logs/

# Compiled JavaScript
dist/

# Logs
logs/
target/
.env.solana
.env.local.solana