[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
aep2_debit_wallet = "AnZDD6eXMV3xfhLqXWi6DUp8ebJwYCYfce8sYawVgdan"

[programs.devnet]
aep2_debit_wallet = "AnZDD6eXMV3xfhLqXWi6DUp8ebJwYCYfce8sYawVgdan"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"
[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

